body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principal */
.container {
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.9);
  padding: 30px;
  height: 580px;
  width: 300px;
}

/* Estilo para o título h1 */
h1 {
  text-align: center;
  color: #1b5091;
  font-size: 24px; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}

/* Estilo para as linhas de inputs */
.input-row,
.button-row,
.result-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px; /* Espaçamento entre as linhas */
}

/* Estilo para inputs nas linhas de entrada */
.input-row input,
.button-row button,
.result-row button {
  flex: 1;
  margin: 0 2px;
  padding: 10px; /* padding dos inputs e botões */
  border: 2px solid #bdb9b9;
  border-radius: 15px; /*raio do border-radius */
  font-size: 15px; /* Tamanho da fonte dos inputs e botões */
}

/* Estilo específico para inputs de fator, nivel inicial, nivel final e polegadas */
.fator-input {
  height: auto;
  width: 272px;
}

.nivel-inicial-input {
  height: auto;
  width: 120px;
}

.nivel-final-input {
  height: auto;
  width: 120px;
}

.polegadas-input {
  height: auto;
  width: 272px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Alterar a cor da borda dos inputs quando focados */
.input-row input:focus,
.button-row button:focus,
.result-row button:focus {
  border-color: #1b5091; /* Mesma cor dos botões de cálculo */
  outline: none; /* Remove o outline padrão do navegador */
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  z-index: 1;
  top: -5px; 
  left: 10px;
  font-size: 8px;
  white-space: nowrap;
}

.tooltip-container input:not(:placeholder-shown) + .tooltip {
  visibility: visible;
}

/* Estilo para os botões de resultado */
.result-row button {
  flex: 1;
  margin: 0 2px;
  padding: 15px; /* Aumentei o padding dos botões */
  border: 2px solid #7e7878;
  border-radius: 15px; /* Aumentei o raio do border-radius */
  font-size: 14px;
  font-weight: bold; /* Tamanho da fonte dos botões */
  color: #000; /* Cor do texto dos botões */
}

.result-row button:hover {
  background-color: #cccccc; /* Cor de fundo ao passar o mouse */
}

/* Estilo específico para botões na linha de botões */
.button-row button {
  background-color: #1b5091;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.button-row button:hover {
  background-color: #0e3a6f; /* Cor do botão ao passar o mouse */
}

/* Estilo específico para cada botão */
.calculate-nitrogenio {
  background-color: #1b5091; /* Cor de fundo padrão */
}

.calculate-oxigenio {
  background-color: #1b5091; /* Cor de fundo azul */
}

.calculate-argonio {
  background-color: #1b5091; /* Cor de fundo verde */
}

.calculate-nitrogenio:hover,
.calculate-oxigenio:hover,
.calculate-argonio:hover {
  background-color: #0e3a6f; /* Cor ao passar o mouse */
}

.button-row button:disabled,
.result-row button:disabled {
  background-color: #cccccc;
  cursor: not-allowed; /* Cursor indicando que o botão está desativado */
}

/* Estilo para o rodapé */
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px; /* Tamanho da fonte do rodapé */
  font-style: italic;
  color: #666; /* Cor do texto do rodapé */
}

/* Estilo específico para o botão Limpar */
.clear-button {
  background-color: rgb(28, 88, 255);
  color: #f7f7f7 !important; /* Cor do texto do botão Limpar */
  font-weight: bold; /* Negrito no texto do botão Limpar */
  padding: 12px 13px; /* Aumentei o padding horizontal do botão */
  border-radius: 15px; /* Raio do border-radius do botão */
}

.clear-button:hover {
  background-color: #713ff8; /* Cor do botão Limpar ao passar o mouse */
  font-size: 16px;
  font-weight: bold;
  color: #050505 !important; /* Cor do texto do botão Limpar ao passar o mouse */
}

/* Estilo específico para o tamanho total */
.total-size {
  width: 300px; /* Largura total do container */
  height: auto; /* Altura automática */
}
