body {
  font-family: Arial, sans-serif;
  background-image: url('imagem de fundo natal.jpg'); /* Substitua 'caminho-da-imagem.jpg' pelo caminho real da sua imagem */
  background-size: cover; /* Faz a imagem preencher a tela inteira */
  background-position: center; /* Centraliza a imagem na tela */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principal */
.container {
  background-color: #dddddd;
  border-radius: 25px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
  padding: 10px;
  height: 580px;
  width: 550px;
}

/* Estilo para o título h1 */
h1 {
  text-align: center;
  color: #13293d;
  font-size: 40px;
  margin-bottom: 10px;
  transition: opacity 0.5s ease; /* Efeito de transição */
  opacity: 1; /* Para o fade-in e fade-out */
}

h2 {
  text-align: center;
  color: #13293d;
  font-size: 30px;
  margin-bottom: 30px;
  transition: opacity 0.5s ease; /* Efeito de transição */
  opacity: 1; /* Para o fade-in e fade-out */
}

/* Estilo para as linhas de inputs */
.input-row,
.button-row,
.result-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px; /* Espaçamento entre as linhas */
}

/* Estilo para inputs nas linhas de entrada */
.input-row input,
.button-row button {
  flex-grow: 1; /* Garantir que todos ocupem o espaço disponível igualmente */
  margin: 0 5px; /* Ajuste do espaçamento entre inputs/botões */
  padding: 15px; /* Padding dos inputs e botões */
  border: none; /* Remove a borda */
  border-radius: 10px; /* Raio do border-radius para cantos arredondados */
  font-size: 20px; /* Tamanho da fonte dos inputs e botões */
  background: white; /* Fundo branco */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para o efeito de flutuação */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Animação suave ao interagir */
}

.result-row button {
  height: auto;
  width: 48%; /* Ajuste de largura para manter o alinhamento responsivo */
  margin-right: 4%; /* Espaçamento entre os botões */
  padding: 15px; /* Padding interno para manter espaçamento */
  background: white; /* Fundo branco */
  border: none; /* Remove as bordas */
  border-radius: 10px; /* Arredondamento dos cantos */
  font-size: 20px; /* Tamanho da fonte */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para o efeito de flutuação */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Animação suave ao interagir */
}

/* Estilo específico para inputs de fator e polegadas */
.fator-input,
.polegadas-input {
  height: auto;
  width: 48%; /* Ajuste de largura para inputs de mesmo tamanho */
  margin-right: 2%; /* Espaçamento entre inputs */
}

.polegadas-input {
  color: black !important; /* Cor preta para o texto */
  font-size: 20px;
}


.nivel-inicial-input,
.nivel-final-input {
  height: auto;
  width: 48%; /* Ajuste de largura para inputs de mesmo tamanho */
  margin-right: 4%; /* Espaçamento entre inputs */
}

/* Alterar a cor da borda dos inputs quando focados */
.input-row input:focus,
.button-row button:focus,
.result-row button:focus {
  border-color: #13293d; /* Mesma cor dos botões de cálculo */
  outline: none; /* Remove o outline padrão do navegador */
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  z-index: 1;
  top: -10px; 
  left: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.tooltip-container input:not(:placeholder-shown) + .tooltip {
  visibility: visible;
}

/* Estilo para os botões de resultado */
.result-row button {
  flex-grow: 1; /* Garantir que todos ocupem o espaço disponível igualmente */
  margin: 0 4px; /* Ajuste do espaçamento entre inputs/botões */
  padding: 15px; /* padding dos botões */
  border-radius: 10px; /* raio do border-radius */
  font-size: 20px;
  font-weight: bold; /* Tamanho da fonte dos botões */
  color: #312c2c !important; /* Cor do texto dos botões */
}

/* Estilo específico para botões na linha de botões */
.button-row button {
  background-color: #192742;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  box-shadow: 0 0 5px rgba(0, 100, 148, 0.6); /* Efeito de neon mais suave */
}

.button-row button:hover {
  background-color: #006494; /* Cor do botão ao passar o mouse */
  box-shadow: 0 0 10px rgba(12, 98, 102, 0.8); /* Aumenta levemente o brilho no hover */
}

/* Estilo específico para cada botão */
.calculate-nitrogenio,
.calculate-oxigenio,
.calculate-argonio {
  background-color: #192742; /* Cor de fundo padrão */
}

.calculate-nitrogenio:hover,
.calculate-oxigenio:hover,
.calculate-argonio:hover {
  background-color: #0d3e7a; /* Cor ao passar o mouse */
}

.button-row button:disabled,
.result-row button:disabled {
  background-color: #dddddd;
  cursor: not-allowed; /* Cursor indicando que o botão está desativado */
}

/* Estilo para o rodapé */
.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px; /* Tamanho da fonte do rodapé */
  font-style: italic;
  color: #666; /* Cor do texto do rodapé */
}

/* Estilo específico para o botão Limpar */
#clear {
  background-color: #13293d;
  color: #ffc107 !important;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  box-shadow: 0 0 5px rgba(0, 100, 148, 0.6); /* Efeito de neon mais suave */
}

#clear:hover {
  background-color: #006494; /* Cor do botão ao passar o mouse */
  box-shadow: 0 0 10px rgba(12, 98, 102, 0.8); /* Aumenta levemente o brilho no hover */
}

/* Responsividade */
@media (max-width: 600px) {
  body {
    height: 90vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 90%; /* Largura total em dispositivos móveis */
    height: 75vh;
    padding: 15px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
  }

  h1 {
    font-size: 30px; /* Diminui o tamanho do título */
    margin-bottom: 20px; /* Ajusta o espaçamento */
  }

  .input-row input,
  .result-row button {
    width: 95%; /* Inputs e botões ocupam toda a largura */
    margin: 5px 0.5; /* Espaçamento uniforme */
    font-size: 18px; /* Ajusta o tamanho da fonte */
    padding: 10px;
  }

  .button-row button {
    width: 32%; /* Botões lado a lado ocupam 100% juntos */
    margin: 1%; /* Espaçamento entre botões */
    font-size: 16px;
    padding: 10px;
  }

  .fator-input,
  .nivel-inicial-input,
  .nivel-final-input,
  .polegadas-input {
    width: 100%; /* Todos os inputs ocupam a largura total */
  }
  
  .footer {
    font-size: 10px; /* Reduz tamanho do texto do rodapé */
    margin-top: 10px;
  }
}
